In [4]:
#unit 10 qn 1

prime_list = []
for num in range(2,10):
    count = 0
    for n in range(2,num):
        if num % n == 0:
            count += 1
    if count == 0:
         prime_list.append(num)
print("1st element of prime_list:",prime_list[0])

1st element of prime_list: 2

In [6]:
#unit 10 qn 2

prime_list = []
for num in range(2,10):
    count = 0
    for n in range(2,num):
        if num % n == 0:
            count += 1
    if count == 0:
         prime_list.append(num)
print("Prime numbers:",prime_list)

prime_list.append(11)
print("Prime numbers after addition:",prime_list)

Prime numbers: [2, 3, 5, 7]
Prime numbers after addition: [2, 3, 5, 7, 11]

In [8]:
#unit 10 qn 3

list1 = [3,5,7]
list2 = [2,3,4,5,6]
for i in list1:
    for j in list2:
        print(f"{i} * {j} = {i*j}")

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

In [7]:
#unit 11 qn 1

capital_dic = {
    'Korea':'Seoul',
    'China':'Beijing',
    'USA':'Washington Dc'
    }
print(capital_dic['Korea'])

Seoul

In [9]:
#unit 11 qn 2

fruit_dict = {
    'Apple':5000,
    'Banana':4000,
    'Grape':5300,
    'Melon':6500
}
for fruit,price in fruit_dict.items():
    print(f"The price of {fruit} is {price} KRW")

The price of Apple is 5000 KRW
The price of Banana is 4000 KRW
The price of Grape is 5300 KRW
The price of Melon is 6500 KRW

In [19]:
#unit 12 qn 1

t1 = 'a', 'b', 'c'
t2 = ('a', 'b', 'c')
t3 = ('d', 'e')

print(t1 == t2)
print(t1 > t3)
print(t1 < t3)
print(t2 + t3)
print([t2 + t3])
print(t1)

True
False
True
('a', 'b', 'c', 'd', 'e')
[('a', 'b', 'c', 'd', 'e')]
('a', 'b', 'c')

In [20]:
#unit 12 qn 2

daily_sales_record = (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
count = 0
for i in range(1, len(sales)):
    if sales[i] < sales[i-1]:
        count += 1
print("Reduced sales days:", count)

Reduced sales days: 3

In [10]:
# unit 13 qn 1

list_array = [[10,20],[30,40],[50,60]]
print(list_array[1][0])

30

In [5]:
#unit 13 qn 2

num = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
for rows in num:
    for element in rows:
        print(element,end=" ")
    print()

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [7]:
#unit 14 qn 1

person_dic = {
    'Last Name':'Doe',
    'First Name':'David',
    'Company':'Samsung'
}
for key,values in person_dic.items():
    print(f"{key} : {values}")

Last Name : Doe
First Name : David
Company : Samsung

In [15]:
#unit 14 qn 2

items = {"Coffee": 7, "Pen":3, "Paper cup": 2, "Milk": 1, "Coke": 4, "Book":5}
item_name = input("Enter the name of the item: ")
if item_name in items:
    print(items[item_name])
else:
    print("No such item is available")

Enter the name of the item: Coffee
7

In [16]:
#unit 15 qn 1

students_tup = (('211101','David Doe',"010-1234-4500"),('211102','John Smith',"010-2230-6540"),('211103','Jane Carter',"010-3232-7788"))
students_dic = {}
for i in students_tup:
    new_students_dic = {i[0]:[i[1],i[2]]}
    students_dic.update(new_students_dic)

for key,values in students_dic.items():
    print(f"{key}:{values}")

211101:['David Doe', '010-1234-4500']
211102:['John Smith', '010-2230-6540']
211103:['Jane Carter', '010-3232-7788']

In [17]:
#unit 15 qn 2

students_tup = (('211101','David Doe',"010-1234-4500"),('211102','John Smith',"010-2230-6540"),('211103','Jane Carter',"010-3232-7788"))
id = input("Enter ID:")
for i in students_tup:
    if i[0] == id:
        print(f"Name={i[1]}\nPhone Number={i[2]}")

Enter ID:211101
Name=David Doe
Phone Number=010-1234-4500

In [18]:
#unit 16 qn 1

lst = ['Apple','Mango','Banana']
s1 = set(lst)
print(s1)

{'Mango', 'Banana', 'Apple'}

In [9]:
#unit 16 qn 2

s1 = {10,20,30,40}
s2 = {30,40,50,60,70}
print(s1|s2)
print(s1&s2)
print(s1-s2)
print(s1^s2)
print(s1.issubset(s2))
print(s1.issuperset(s2))
print(s1.isdisjoint(s2))

{70, 40, 10, 50, 20, 60, 30}
{40, 30}
{10, 20}
{50, 20, 70, 10, 60}
False
False
False