Day 10

In [1]:

#count occurance of a number in list
a = [1,2,3,1,1,1,2,3,4,3]
count = {}
for i in a:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1
        
print(count)

for key,value in count.items():
    print(key,"->",value)

{1: 4, 2: 2, 3: 3, 4: 1}
1 -> 4
2 -> 2
3 -> 3
4 -> 1

In [2]:
#1. Write a function square_list(numbers) that takes a list of numbers and returns a new list with the
# squares of those numbers using a list comprehension.

def square_list(numbers):
    return[i**2 for i in numbers]

a = (1,2,3)
print (square_list(a))

[1, 4, 9]

In [3]:
# 2. Write a function get_employee_name(employee_dict, employee_id) that takes a dictionary of
# employees (where keys are IDs and values are names) and an employee ID, and returns the name
# of the employee with that ID.

def get_employee_name(employee_dict, employee_id):
    return employee_dict[employee_id]

employees = {
    123 : "Ram",
    124 : "shyam"
}

print(get_employee_name(employees,124))

shyam

In [4]:
def filter_high_scores(scores):
    return {name: score for name, score in scores.items() if score > 80}

students = {
    "Ram": 40,
    "Shyam": 89
}

print(filter_high_scores(students))

{'Shyam': 89}

In [5]:
# 4. Write a function common_elements(set1, set2) that takes two sets and returns their intersection.

def common_elements(set1, set2):
    return set(set1) & set(set2)

seta = [1,2,3,4,5,6]
setb = [4,5,6,7,8,9]
print(common_elements(seta,setb))

{4, 5, 6}

In [6]:
# Write a function lcm(a, b) that takes two integers and returns their least common multiple

import math

def lcm(a, b):
    if a == 0 or b == 0:
        return 0 
    return abs(a * b) // math.gcd(a, b)

print(lcm(12, 18))  
print(lcm(5, 7))

36
35

Day 11

In [7]:

#qn 1
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

In [9]:
print(factorial(5))

120

In [10]:
#qn 2
def sum_natural(n):
    if n == 0:
        return 0
    return n + sum_natural(n-1)

In [11]:
print(sum_natural(5))

15

In [12]:
#4
def power(base, exp):
    if exp == 1:
        return base
    return base * power(base,exp-1)

In [13]:
print(power(5, 2))

25

In [14]:
#5
def fibonacci(n):
    if n == 1 or n == 2:
        return 1
    return fibonacci(n-1) + fibonacci(n-2)

In [15]:
print(fibonacci(6))

8

In [16]:
#6
def is_palindrome(s):
    if len(s) == 0 or len(s) == 1:
        return True
    if s[0] != s[-1]:
        return False
    return is_palindrome(s[1:-1])

In [17]:
print(is_palindrome("binib"))

True

In [18]:
#7
def reverse_string(s):
    if len(s) == 1:
        return s
    return s[-1] + reverse_string(s[0:-1])

In [19]:
print(reverse_string("binisha"))

ahsinib

In [20]:
#tower of hanoi

def tower_of_hanoi(n, source, auxiliary, destination):
    if n == 1:
        print(f"Move disk 1 from {source} to {destination}")
        return
    
    # move n-1 disks to auxiliary
    tower_of_hanoi(n-1, source, destination, auxiliary)
    
    # move largest disk
    print(f"Move disk {n} from {source} to {destination}")
    
    # move n-1 disks to destination
    tower_of_hanoi(n-1, auxiliary, source, destination)

n = 3
tower_of_hanoi(n, 'A', 'B', 'C')

Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
Move disk 3 from A to C
Move disk 1 from B to A
Move disk 2 from B to C
Move disk 1 from A to C

In [21]:
#alternate

def hanoi(n, s, a, d):
    if n:
        hanoi(n-1, s, d, a)
        print(f"{s} â†’ {d}")
        hanoi(n-1, a, s, d)
        
n = 3
tower_of_hanoi(n, 'A', 'B', 'C')

Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
Move disk 3 from A to C
Move disk 1 from B to A
Move disk 2 from B to C
Move disk 1 from A to C

Day 12

In [23]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Point(self.x + other.x, self.y + other.y)
    
    def __iadd__(self, other):
        return Point(self.x + other.x, self.y + other.y)
    
    def __mul__(self, scalar):
        return Point(self.x * scalar, self.y * scalar)

    def __eq__(self, other):
        return self.x == other.x and self.y == other.y

    def __lt__(self, other):
        return self.distance_from_origin() < other.distance_from_origin()

    def __gt__(self, other):
        return self.distance_from_origin() > other.distance_from_origin()
    
    def __hash__(self):
        return hash((self.x,self.y))
    
    def distance_from_origin(self):
        return (self.x**2 + self.y**2)**(1/2)
    
    def __str__(self):
        return f"({self.x},{self.y})"
    
    def __repr__(self):
        return f"Point(x={self.x}, y={self.y})"

In [24]:
p1 = Point(2,2)
p2 = Point(5,2)
print(p1 + p2)
print(p1 * 2)
print(p1 == p2)
print(p1 > p2)
print(p1 < p2)
p3 = Point(1,2)
p3 += p2   #iadd
print(p3)

(7,4)
(4,4)
False
False
True
(6,4)

In [ ]:
# DRY  don't repeat yourself

Day 13

In [25]:
# wap that takes a list of dictionary as input
# each elemnt of list has name and age of candidate
# based on this filter,make list of candidate eligible to vote

In [26]:
data = [
    {"Name":"Ram","Age": 88},
    {"Name":"Hari","Age": 17},
    {"Name":"Sita","Age": 20},
    {"Name":"Gita","Age": 16},
]

In [27]:
eligible_candidates = list(filter(lambda person: person["Age"] >= 18, data))

print(eligible_candidates)

[{'Name': 'Ram', 'Age': 88}, {'Name': 'Sita', 'Age': 20}]

In [28]:
#using map create two functions for encrypting and decrypting message using ceaser cypher

In [30]:
# function to shift a single character
def shift_char(c, shift):
    if c.isalpha():  # only letters
        base = ord('A') if c.isupper() else ord('a')
        return chr((ord(c) - base + shift) % 26 + base)
    return c  # keep spaces/symbols unchanged

# encrypt function
def encrypt(message, shift):
    return "".join(map(lambda c: shift_char(c, shift), message))

# decrypt function
def decrypt(cipher, shift):
    return "".join(map(lambda c: shift_char(c, -shift), cipher))

msg = "Im Binsa Hii"
shift = 3

enc = encrypt(msg, shift)
dec = decrypt(enc, shift)

print("Encrypted:", enc)
print("Decrypted:", dec)

Encrypted: Lp Elqvd Kll
Decrypted: Im Binsa Hii

Day 14-15

In [ ]:
#Sequential Search

In [1]:
new_list = [25,26,36,48,90,40,67]

In [2]:
target = 40
for i, element in enumerate(new_list):
    if target == element:
        print("found element in position",i)

found element in position 5

In [3]:
# 10 floor tall building. an egg when dropped breaks from certain floor. 
# Value for each batch of egg is different and random
# find floor where egg breaks from sequential and binary search

In [4]:
#sequential search
import random
break_floor = random.randint(1,10)
for floor in range(1,11):
    if floor >= break_floor:
        print("egg breaks in floor",floor)
        break

egg breaks in floor 6

In [7]:
target = random.randint(1,10)
low = 0
high = 10
while low < high:
    mid = (high + low)//2
    if mid == target:
        print("egg breaks in floor",mid)
        break
    elif target < mid:
        high = mid
    elif target > mid :
        low = mid

egg breaks in floor 9

In [10]:
# do using list
floors = list(range(11))
target = 5
l, h = 0, 10
while l <= h:
    mid = (l+h)//2
    if floors[mid] == target:
        print("Egg breaks on floor", floors[mid])
        break
    elif floors[mid] > target:
        h = mid
    else:
        l = mid

Egg breaks on floor 5