In [10]:
#1
print('1'+'2'+'3'+'4'+'5')

12345

In [22]:
#2 - 1 for flowchart:
add = 0
for i in range(1,101):
    if i % 2 != 0:
        add = add + i
print("sum of odd integers between 1 and 100 is ",add)

sum of odd integers between 1 and 100 is  2500

In [7]:
#2-2
x = int(input("enter a positive integer: "))
if x>0:
    if x % 2 == 0:
        print("even")
    else:
        print("odd")

enter a positive integer2
even

In [16]:
#4-1
name = input("enter your name: ")
address = input("enter your address: ")
print("your name is ",name, "\nand you live in",address)

enter your name: Binishaa
enter your address: Chitwan
your name is  Binishaa
and you live in Chitwan

In [14]:
#3-1
print("*" * 40)
print("#"* 20)

****************************************
####################

In [18]:
# 5-1
# expected output:
# 0
# 1
# False
# True

In [25]:
# 6 -1
a = int(input("enter a random integer: "))
b = int(input("enter another random integers: "))
if a > b:
    print (b , a)
elif b > a:
    print(a , b)
else:
    print("integers cannot be equal")

enter a random integer: 8
enter another random integers: 6
6 8

In [17]:
# 7 -1
adult = int(input("Are you an adult?(1 if you are an adult, 0 if you are minor): "))
if adult:
    married = int(input("Are you married?(1 if you are married, 0 if you are single): "))
    if adult and married:
        print("you are an adult who is married ")
    else:
        print("you are an adult who is single")
else :
        print("you are a minor")

Are you an adult?(1 if you are an adult, 0 if you are minor): 1
Are you married?(1 if you are married, 0 if you are single): 0
you are an adult who is single

In [9]:
#8-1
primes = []
composites = []
for num in range(2, 13):
    count = 0
    for i in range(1, num):
        if num % i == 0:
            count += 1
    if count == 1:
        primes.append(num)
    else:
        composites.append(num)
print("prime numbers are ",primes)
print("composite numbers are ",composites)

prime numbers are  [2, 3, 5, 7, 11]
composite numbers are  [4, 6, 8, 9, 10, 12]

In [6]:
#9 - 1
print("Armstrong numbers from 100 to 999: ")
for num in range (100,1000):
    a = num // 100 
    b = (num // 10) % 10
    c = num % 10 
    if a**3 + b**3 + c**3 == num:
        print(num)

Armstrong numbers from 100 to 999:
153
370
371
407

In [1]:
#10-1
l1 = ["I like", "I love"]
l2 = ["pancake" , "kiwi juice" , "espresso"]
for i in l2:
    for j in l1:
        print(j,i)

I like pancake
I love pancake
I like kiwi juice
I love kiwi juice
I like espresso
I love espresso

In [2]:
#11-01
person = {
    "Name" : "Michael",
    "Age" : 18,
    "Weight" : 50
}
for key, value in {"Father": "John Doe"}.items():
    person[key] = value
print(person)

{'Name': 'Michael', 'Age': 18, 'Weight': 50, 'Father': 'John Doe'}

In [3]:
#12-01 using tuple data ,2 variables can be swapped,using this swap largest value of 12 with last, use for loop
lst = [5, 6, 3, 9, 2, 12, 3, 8, 7]
largest = max(lst)
last_index = len(lst) - 1

for i in range(len(lst)):
    if lst[i] == largest:
        lst[i], lst[last_index] = lst[last_index], lst[i] 
        break
print(lst)

[5, 6, 3, 9, 2, 7, 3, 8, 12]

In [4]:
#13-01
#change to 1d array using for
arr = [[1, 2], [3, 4], [5, 6]]
new_arr = []
for sublist in arr:
    for element in sublist:
        new_arr.append(element)
print(new_arr)

[1, 2, 3, 4, 5, 6]

In [5]:
#14-01
maria = {
    "korean": 80,
    "english": 70
}
total = 0
for marks in maria.values():
    total += marks
average = total / len(maria)
print(average)

75.0

In [8]:
#15-01
from copy import deepcopy
school = {
    "classes": {
        "10": {"students": 35},
        "12": {"students": 28}
    }
}
print(school)
school2 = deepcopy(school)
print(school2)
print(school is school2)

{'classes': {'10': {'students': 35}, '12': {'students': 28}}}
{'classes': {'10': {'students': 35}, '12': {'students': 28}}}
False

In [7]:
#16-01
scores = (("John Doe",88,95,90),
          ("Michael",83,91,90),
          ("happy",88,75,90),
          ("ram",88,92,90))
names, english, maths, science = zip(*scores)
print(maths)

(95, 91, 75, 92)